/* Home Page */
.three-d-elements {
    position: relative;
    display: grid;
    place-content: center;
}

.three-d-elements .home-jumbotron {
    position: relative;
    font-family: var(--poppins);
}

.three-d-elements .home-jumbotron .home-information h1 {
    font-family: var(--antonio);
    font-size: 60px;
    padding: 30px 0;
}

.three-d-elements .home-jumbotron .home-information h2 {
    display: flex;
    justify-content: flex-end;
}

.three-d-elements .home-jumbotron .home-information h3 {
    display: flex;
    justify-content: flex-end;
} 

.three-d-elements .home-jumbotron .home-information a {
    text-decoration: none;
    line-height: 2.2em;
    color: black;
}

.three-d-elements .home-jumbotron .home-information a .home-location-1 i {
    
}

.three-d-elements .home-jumbotron .home-information a .home-location-1 {
    display: flex;
    font-size: 1.2em;
}

.three-d-elements .home-jumbotron .home-information a .home-location-2 {
    font-size: 3em;
}

.three-d-elements .home-jumbotron .home-contact-links {

}

.three-d-elements .home-jumbotron .home-contact-links a {
    font-size: 3em;
    padding: 10px;
    color: black;
}

.three-d-elements .home-jumbotron .tech-stack-container {    
    
}

.three-d-elements .home-jumbotron .tech-stack-container .title {
    font-size: 2.4em;
}

.three-d-elements .home-jumbotron .tech-stack-container .stack {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.three-d-elements .home-jumbotron .tech-stack-container .stack .item:nth-child(1),
.three-d-elements .home-jumbotron .tech-stack-container .stack .item:nth-child(2),
.three-d-elements .home-jumbotron .tech-stack-container .stack .item:nth-child(3) {
 
}
 
.three-d-elements .home-jumbotron .tech-stack-container .stack .item {
    font-size: 1.1em;
}