/* Colorless BG Styles */

.colorless-1, .colorless-2, .colorless-3, .colorless-4 {
    position: absolute;
    font-family: var(--colorless);
    font-size: 2em;
    transform: skew(.6rad, -.6rad);
}

.colorless-1 {
    opacity: .8;
}

.colorless-2 {
    top: 100px;
    left: 50px;
    opacity: .6;
}

.colorless-3 {
    top: 400px;
    left: -150px;
    opacity: .4;
}

.colorless-4 {
    top: 450px;
    left: 200px;
    opacity: .2;
}

/* Home Page */
.colorless-main {
    position: absolute;
    left: 200px;
    display: flex;
    flex-direction: row;
    width: 500px;
}

.left-bar {
    position: absolute;
    height: 100vh;
    left: 0;
    width: 5px;
    background: black;
}

.right-bar {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 5px;
    background: black;
}

.colorless-home .home-jumbotron {
    position: relative;
    margin-top: 100px;
    font-family: var(--poppins);
    width: 80vw;
}

.colorless-home .home-jumbotron .home-information {
    background: black;
    height: 300px;
    width: 335px;
    padding-left: 40px;
}

.colorless-home .home-jumbotron .home-information h1 {
    position: absolute;
    font-family: var(--antonio);
    color: white;
    width: 400px;
    font-size: 80px;
    margin-top: 40px;
}

.colorless-home .home-jumbotron .home-information .invert {
    color: black;
}

.colorless-home .home-jumbotron .home-information h2 {
    position: absolute;
    font-size: 1.6em;
    top: 310px;
    left: 20px;
}

.colorless-home .home-jumbotron .home-information h3 {
    position: absolute;
    font-size: 1.6em;
    top: 310px;
    left: 140px;
} 

.colorless-home .home-jumbotron .home-information a {
    position: absolute;
    left: 200px;
    text-decoration: none;
    line-height: 2.2em;
    color: black;
}

.colorless-home .home-jumbotron .home-information a .home-location-1 i {
    margin-top: 8px;
    padding-right: 3px;
    color: black;
}

.colorless-home .home-jumbotron .home-information a .home-location-1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 450px;
    font-size: 1.2em;
}

.colorless-home .home-jumbotron .home-information a .home-location-2 {
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
}

.colorless-home .home-jumbotron .home-contact-links {
    position: absolute;
    bottom: -700px; 
    width: 500px;
    background: black;
    padding: 10px;
}

.colorless-home .home-jumbotron .home-contact-links a {
    font-size: 3em;
    padding: 10px;
    color: white;
    background: black;
}

.colorless-home .home-jumbotron .tech-stack-container {    
    position: absolute;
    top: 550px;
    left: 205px;
    background: black;
    padding: 20px 50px 20px 20px;
    color: white;
}

.colorless-home .home-jumbotron .tech-stack-container .title {
    font-size: 2.4em;
}

.colorless-home .home-jumbotron .tech-stack-container .stack {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colorless-home .home-jumbotron .tech-stack-container .stack .item:nth-child(1),
.colorless-home .home-jumbotron .tech-stack-container .stack .item:nth-child(2),
.colorless-home .home-jumbotron .tech-stack-container .stack .item:nth-child(3) {
 
}
 
.colorless-home .home-jumbotron .tech-stack-container .stack .item {
    font-size: 1.1em;
}