/* Colorless BG Styles */

.colorless-1, .colorless-2, .colorless-3, .colorless-4 {
    position: absolute;
    font-family: var(--colorless);
    font-size: 2em;
    transform: skew(.6rad, -.6rad);
}

.colorless-1 {
    margin-top: -5vh;
    right: 5vw;
    opacity: .2;
}

.colorless-2 {
    margin-top: 15vh;
    right: 10vw;
    opacity: .35;
}

.colorless-3 {
    margin-top: 35vh;
    right: 0;
    opacity: .5;
}

.colorless-4 {
    margin-top: 30vh;
    right: 0;
    opacity: .8;
}

/* Home Page */
.colorless-container {
    position: relative;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
}

.colorless-home {
    background: black;
    min-height: 450px;
    width: 100%;
    height: 650px;
}

.colorless-home .home-jumbotron {
    color: white;
    font-family: var(--antonio);
    width: 600px;
}

.colorless-home .home-jumbotron .home-information h1 {
    font-size: 6em;
    padding-top: 200px;
    margin-left: 5vw;
}

.colorless-home .home-jumbotron .home-information .title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 5vw;
    font-family: var(--poppins);
}

.colorless-home .home-jumbotron .home-information h2 {
    font-size: 30px;
}

.colorless-home .home-jumbotron .home-information h3 {
    margin-left: 10px;
    font-size: 30px;
} 

.colorless-home .home-jumbotron .home-information a {
    text-decoration: none;
    font-family: var(--poppins);
    color: white;
}

.colorless-home .home-jumbotron .home-information a .home-location-1 i {
    padding-right: 5px;
    margin-left: 5vw;
    margin-top: 5px;
}

.colorless-home .home-jumbotron .home-information a .home-location-2 {
    padding-left: 5px;
}

.colorless-home .home-jumbotron .home-contact-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.colorless-home .home-jumbotron .home-contact-links a {
    color: white;
    padding: 0 70px;
    transform: scale(5);
}

.colorless-home .home-jumbotron .tech-stack-container {    
    margin-left: 5vw;
    margin-top: 100px;
    color: black;
    font-family: var(--poppins);
}

.colorless-home .home-jumbotron .tech-stack-container .title {
    font-size: 3em;
}

.colorless-home .home-jumbotron .tech-stack-container .stack {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 280px;
}

.colorless-home .home-jumbotron .tech-stack-container .stack .item {
    padding: 5px 9px;
    border-radius: 20em;
    margin: 3px;
}

.laptop-2-screen {
    display: none;
}